<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: htmlHead('개인정보처리방침', '/css/privacy.css')}">
    <title>개인정보처리방침</title>
</head>
<body>
    <th:block th:replace="~{layout/fragments :: commonLayout}"></th:block>

    <main class="container-global privacy-container">
        <div class="content-section">
            <h1>개인정보처리방침</h1>
            <p>Villila (이하 "회사" 또는 "서비스")은(는) 「개인정보보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 다음과 같이 개인정보처리방침을 수립·공개합니다.</p>

            <h2>제1조 (개인정보의 처리 목적)</h2>
            <p>회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 「개인정보보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.</p>
            <ul>
                <li>회원 가입 및 관리: 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만 14세 미만 아동 개인정보 수집 시 법정대리인 동의 여부 확인, 각종 고지·통지 등을 목적으로 개인정보를 처리합니다.</li>
                <li>서비스 제공: 서비스 제공, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증 등을 목적으로 개인정보를 처리합니다.</li>
                <li>마케팅 및 광고에의 활용: 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인 등을 목적으로 개인정보를 처리합니다.</li>
            </ul>

            <h2>제2조 (개인정보의 처리 및 보유 기간)</h2>
            <p>
                ① 회사는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.<br>
                ② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
                <ul>
                    <li>회원 가입 및 관리: 회원 탈퇴 시까지</li>
                    <li>서비스 제공: 서비스 종료 시까지</li>
                    <li>마케팅 및 광고에의 활용: 동의 철회 시까지</li>
                </ul>
                다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료 시까지
                <ul>
                    <li>관계 법령 위반에 따른 수사·조사 등이 진행 중인 경우에는 해당 수사·조사 종료 시까지</li>
                    <li>서비스 이용에 따른 채권·채무 관계 잔존 시에는 해당 채권·채무 관계 정산 시까지</li>
                </ul>
            </p>

            <h2>제3조 (개인정보의 제3자 제공)</h2>
            <p>회사는 정보주체의 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>

            <h2>제4조 (정보주체와 법정대리인의 권리·의무 및 그 행사방법)</h2>
            <p>
                ① 정보주체는 회사에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.<br>
                ② 제1항에 따른 권리 행사는 회사에 대해 「개인정보보호법」 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며, 회사는 이에 대해 지체 없이 조치하겠습니다.<br>
                ③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 「개인정보보호법」 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
            </p>

            <!--  <p>[... 기타 개인정보처리방침 내용 추가 ...]</p> 서비스 배포 시 서비스에 맞는 추가할 약관 내용 추가해야함 -->

            <div class="last-updated">최종 수정일: 2025년 6월 30일</div>
        </div>
    </main>

    <th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
    <script th:src="@{/js/common.js}"></script>
</body>
</html>